.firstline{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(241, 235, 235);
    height: 10px;
    padding: 10px 20px 10px 20px;
}
.phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.phoneim{
    height: 15px;
    width: 15px;
    object-fit: contain;
}

.phone a{
    text-decoration: none;
    color: black;
}

.phone a:hover{
    color: lightblue;
}
.phone-details{
    font-size: x-small;
    color: #1a1a1a;
}

.media{
    height: 12px;
    width: 12px;
    mix-blend-mode: color-burn;
}

.right{
    display: flex;
    gap: 18px;
    margin-left: 738px;
}
.left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Logoimg{
    height: 100%;
    width: 100%;
}
.barlogo{
    height: 20px;
    width: 20px;
    padding-left: 15px;
    padding-top: 20px;
}

.i_con{
    border-left:2px solid rgb(221, 212, 212);
}

.secondline{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(241, 237, 237);
    height: 58px;
}

.secondline-right{
    display: flex;
    flex-direction: row;
    gap:16px;
    margin-left: 660px;
}
.headline{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.seconline-left{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.headlineimg{
    height: 60px;
    width: 80px;
}

.head{
    font-size:x-small;
    font-weight:500;
    text-decoration: none;
    color: rgb(14, 13, 13);
}

.head:hover{
    color: blue;
}

/* ext Component css */
.interierdesign{
    height: 580px;
    width: 1365px;
}
@media (max-width:992px) {
  
  .firstline {
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    max-width: 992px;
    gap: 457px;
    align-items: center;
  }

  .right {
    justify-content: center;
    flex-direction: row;
    gap: 9px;
    margin: 0;
  }

  .secondline {
    flex-direction: row;
    max-width: 992px;
    gap: 372px;

  }

  .headline {
      flex-direction: row;
      gap: 5px;
      align-items: center;
  }

  .Logoimg {
      width: 80px;
  }

  .barlogo {
      height: 35px;
      width: 35px;
      padding-top: 12px;
  }

  .secondline-right {
      margin-left: 0;
      justify-content: center;
  }
  
  .interierdesign {
    height: 384px;
    width: 992px;
}
}
/* @media (max-width: 576px) {
    .firstline {
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        width: auto;
        height: auto;
        gap: 10px;
    }

    .left{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .right {
        margin-left: 0;
        margin-top: 16px;
        justify-content: center;
    }

    .secondline {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .headline {
        flex-direction: row;
        gap:5px;
        align-items: center;
    }

    .Logoimg {
        width: 80px;
        height: 50px;
    }

    .barlogo {
        height: 35px;
        width: 35px;
    }

    .secondline-right {
        margin-left: 0;
        justify-content: center;
    }
    .interierdesign {
        height: 384px;
        width: 415px;
    }
} */

@media (max-width:412px) {
  .firstline {
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    max-width: 412px;
    gap: 663px;
    align-items: center;
  }

  .right {
    justify-content: center;
    flex-direction: row;
    gap: 9px;
    margin: 0;
  }

  .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
  }

  .secondline {
    flex-direction: row;
    max-width: 1200px;
    gap: 640px;
  }

  .headline {
      flex-direction: row;
      gap: 5px;
      align-items: center;
  }

  .Logoimg {
      width: 80px;
  }

  .barlogo {
      height: 35px;
      width: 35px;
      padding-top: 12px;
  }

  .secondline-right {
      margin-left: 0;
      justify-content: center;
  }

  .interierdesign {
    height: 580px;
    width: 768px;
}
}

@media (max-width: 768px) {
    .firstline {
      flex-direction: row;
      align-items: flex-start;
      padding: 5px;
      max-width: 768px;
      gap: 234px;
      align-items: center;
    }

    .right {
      justify-content: center;
      flex-direction: row;
      gap: 9px;
      margin: 0;
    }

    .secondline {
      flex-direction: row;
      max-width: 768px;
      gap: 174px;
    }

    .headline {
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }

    .Logoimg {
        width: 80px;
    }

    .barlogo {
        height: 35px;
        width: 35px;
        padding-top: 12px;
    }

    .secondline-right {
        margin-left: 0;
        justify-content: center;
    }

    .interierdesign {
      height: 580px;
      width: 768px;
  }
} 

/* Card css */
.top{
  margin-top: 15px;
}
.line{
    border: 1px solid rgb(228, 191, 166);
    width: 60px;
    margin-top: 22px;
    margin-left: 48%;
}  

.heading{
    text-align: center;
    font-size:xx-large;
    margin-top: 12px;
    font-weight: bold;
}

.tag{
    color: rgb(228, 191, 166);
    font-size: small;
    text-align: center;
    margin-top: 10px;
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between cards */
}

/* Each card layout */
.bottom {
  position: relative;
  width: 100%;
  max-width: 250px;
  overflow: hidden;
  background: #fff;
  margin-top: 50px;
}

.firstbottomimg {
  width: 100%;
  height: auto;
  display: block;
}

.bottom_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  padding-top: 120px;
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bottom_photo:hover .bottom_cont {
  opacity: 1;
}

.bottom_media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom_media svg {
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.bottom_media svg:hover {
  color: lightcoral;
}

.Details j {
  color: rgb(223, 129, 63);
  font-size: small;
  font-weight: bold;
}

.Details p {
  color: whitesmoke;
}

.Details k {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

/* Payment css */
.pricing-container {
    text-align: center;
    padding: 50px 20px;
  }
  
  .line {
    width: 50px;
    background-color: lightcoral;
    margin: 0 auto;
  }
  
  .tag {
    color: lightcoral;
    font-weight: lighter;
    margin: 10px 0;
  }

  h1 {
    font-size: 1.5em;
    color: #333;
  }
  
  .pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .pricing-card {
    width: 200px;
    padding: 20px;
    border-bottom: 2px solid lightcoral;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .pricing-card:hover {
    transform: translateY(-6px);
  }
  
  .pricing-card:hover,
  .pricing-card:hover p,
  .pricing-card:hover ul,
  .pricing-card:hover li,
  .pricing-card:hover .line,
  .pricing-card:hover .tag{
    background-color: #1a1a1a;
    color: white;
    border-color: lightcoral;
  }
  
  .pricing-card:hover button{
    color: white;
    background-color: lightcoral;
  }
  .most-popular {
    background-color: lightcoral;
    color: white;
    padding: 5px 10px;
    font-weight: 400;
    font-size: x-small;
    width: 100px;
    margin-top: -20px;
    margin-left: 21%;
  }
  
  h2 {
    font-size: 1em;
    color: lightcoral;
    font-weight: 400;
    margin: 10px 0;
  }
  
  h3 {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: 400;
  }

  p {
    color: #555;
    font-size: 0.70em;
    margin-bottom: 20px;
    text-align: left;
  }

  ul {
    list-style: none;
    padding: 0;
    color: #333;
    text-align: left;
    font-size: 0.60em;
  }
  
  ul li {
    margin-bottom: 20px;
  }

  button {
    background-color: black;
    height: 35px;
    width: 190px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.7em;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    border: 2px soild white;
  }